In [1]:
import pandas as pd

In [64]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O

In [3]:
df.loc[1, 'ocorrencia_cidade']

'BEL�M'

In [4]:
df.loc[3]

codigo_ocorrencia2                        39527
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                           0
ocorrencia_saida_pista                      N�O
Name: 3, dtype: object

In [5]:
df.loc[1:3]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O

In [6]:
df.loc[[10,40]]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
10,39789,INCIDENTE,S�O PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0,N�O
40,39158,INCIDENTE,BEL�M,PA,****,2010-01-28,16:00:00,0,N�O

In [7]:
df.loc[:]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O
...,...,...,...,...,...,...,...,...,...
5746,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0,N�O
5747,79757,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,****,2020-12-30,18:30:00,0,N�O
5748,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0,N�O
5749,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0,N�O
5750,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0,N�O

In [8]:
df.codigo_ocorrencia2.is_unique

True

In [9]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O

In [10]:
df.set_index('codigo_ocorrencia2', inplace=True)

In [11]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
codigo_ocorrencia2,,,,,,,,
40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O

In [12]:
df.loc[39527]

ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                           0
ocorrencia_saida_pista                      N�O
Name: 39527, dtype: object

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O

In [15]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [16]:
df.head(1)

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0,N�O

In [17]:
df.loc[1] = 20

In [18]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0,N�O
1,20,20,20,20,20,20,20,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0,N�O

In [19]:
df.loc[:, 'total_recomendacoes'] = 10

In [20]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [21]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'Grave'

In [22]:
df

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O
...,...,...,...,...,...,...,...,...
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O
5747,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,****,2020-12-30 00:00:00,18:30:00,10,N�O
5748,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,N�O
5749,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10,N�O
5750,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,N�O

In [23]:
df.loc[df.ocorrencia_uf == 'SP']

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
11,Grave,S�O PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,N�O
16,Grave,S�O PAULO,SP,****,2010-01-15 00:00:00,15:00:00,10,N�O
18,Grave,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,10,N�O
26,Grave,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,10,N�O
27,Grave,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,10,N�O
...,...,...,...,...,...,...,...,...
5703,Grave,S�O PAULO,SP,SBSP,2020-12-03 00:00:00,14:42:00,10,N�O
5704,Grave,SOROCABA,SP,SDCO,2020-12-04 00:00:00,15:30:00,10,N�O
5714,Grave,S�O PAULO,SP,SBMT,2020-12-11 00:00:00,13:50:00,10,SIM
5741,Grave,S�O PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,N�O
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O

ocorrencia_uf
**
ocorrencia_aerodromo
###!
####
****
*****

In [24]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [30]:
df.loc[df.ocorrencia_aerodromo == '*****', ['ocorrencia_aerodromo']] == pd.NA

      ocorrencia_aerodromo
433                  False
4064                 False
4365                 False
4650                 False
4809                 False
...                    ...
5603                 False
5620                 False
5683                 False
5686                 False
5721                 False

[149 rows x 1 columns]

In [31]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [34]:
df.replace(['**','###!', '####', '****', '*****', ' '], pd.NA, inplace=True)

In [35]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [36]:
df.tail()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O
5747,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,<NA>,2020-12-30 00:00:00,18:30:00,10,N�O
5748,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,N�O
5749,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,10,N�O
5750,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,N�O

In [38]:
df.isna().sum()

ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2347
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes            0
ocorrencia_saida_pista         0
dtype: int64

In [40]:
df.isnull().sum()

ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2347
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes            0
ocorrencia_saida_pista         0
dtype: int64

In [43]:
df.fillna(10, inplace=True)

In [44]:
df.isnull().sum()

ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
ocorrencia_saida_pista      0
dtype: int64

In [45]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,10,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [46]:
df.replace([10], pd.NA, inplace=True)

In [47]:
df.isnull().sum()

ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2347
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes         5751
ocorrencia_saida_pista         0
dtype: int64

In [51]:
df.fillna(value= {'total_recomendacoes': 10}, inplace=True)

In [52]:
df.isnull().sum()

ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2347
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes            0
ocorrencia_saida_pista         0
dtype: int64

In [53]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [54]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista,total_recomendacoes_bkp
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O,10
1,20,20,20,20,20,20,10,20,10
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O,10
3,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,N�O,10
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O,10

In [57]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

In [58]:
df.head()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O

In [59]:
df.dropna()

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O
6,INCIDENTE,COARI,AM,SBUY,2010-01-07 00:00:00,18:40:00,10,SIM
...,...,...,...,...,...,...,...,...
5742,ACIDENTE,RIO PARANA�BA,MG,SNRP,2020-12-28 00:00:00,17:00:00,10,N�O
5745,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,2020-12-29 00:00:00,18:30:00,10,SIM
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O
5748,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,N�O
5750,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,N�O

In [61]:
df

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O
...,...,...,...,...,...,...,...,...
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O
5747,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,<NA>,2020-12-30 00:00:00,18:30:00,10,N�O
5748,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,N�O
5749,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,10,N�O
5750,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,N�O

In [63]:
df.dropna(subset=['ocorrencia_uf'])

,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,N�O
1,20,20,20,20,20,20,10,20
2,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,N�O
3,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,N�O
4,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,N�O
...,...,...,...,...,...,...,...,...
5746,Grave,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,N�O
5747,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,<NA>,2020-12-30 00:00:00,18:30:00,10,N�O
5748,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,N�O
5749,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,10,N�O
5750,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,N�O

In [65]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O
...,...,...,...,...,...,...,...,...,...
5747,79757,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,****,2020-12-30,18:30:00,0,N�O
5748,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0,N�O
5749,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0,N�O
5750,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0,N�O
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0,N�O

In [67]:
df.drop_duplicates(inplace=True)

In [71]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_saida_pista
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,N�O
1,40349,INCIDENTE,BEL�M,PA,SBBE,2010-01-03,11:05:00,0,N�O
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,N�O
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,N�O
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,N�O
...,...,...,...,...,...,...,...,...,...
5746,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0,N�O
5747,79757,INCIDENTE GRAVE,LAGOA DA CONFUS�O,TO,****,2020-12-30,18:30:00,0,N�O
5748,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0,N�O
5749,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0,N�O
5750,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0,N�O